<div class="container owner-component">
    <div class="row">
        <div class="col-sm-12 text-center header-title">
            <h1>All Users</h1>
        </div>
    </div>
    <div class="row underline">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control outer-border" name="ownerName" ng-model="ctrl.newOwner.name" placeholder="Enter Pet Owner's Name" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn outer-border" ng-click="ctrl.addOwner()">Add</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row total-count">
        <div>Total count: {{ctrl.pagination.totalItems}}</div>
        <table class="table table-bordered table-striped table-hover outer-border">
            <thead>
                <tr>
                    <th>Name 
                        <i class="pull-right clickable fa fa-caret-up" ng-show="!ctrl.isDesc" ng-click="ctrl.order()"></i>
                        <i class="pull-right clickable fa fa-caret-down" ng-show="ctrl.isDesc" ng-click="ctrl.order()"></i></th>
                    <th>Pets Count</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in ctrl.owners">
                    <td><a href="" ng-click="ctrl.goToOwnersPage($index)">{{owner.name}}</a></td>
                    <td>
                        <span>{{owner.petsCount}}</span>
                        <button type="button" class="btn pull-right outer-border" ng-click="ctrl.deleteOwner($index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <ul uib-pagination direction-links="false" total-items="ctrl.pagination.totalItems" items-per-page="ctrl.pagination.itemsPerPage" ng-model="ctrl.pagination.currentPage" ng-change="ctrl.pagination.change()"></ul>
    </div>
</div>