<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center header-title">
            <h1>{{ctrl.owner.name}}'s pets</h1>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn btn-link" ng-click="ctrl.backToAllOwners()">Back to all users</button>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control outer-border" name="ownerName" ng-model="ctrl.newOwnerPet.name" placeholder="Enter Pet's Name'" />
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn outer-border" ng-click="ctrl.addOwnerPet()">Add</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div>Total count: {{ctrl.pagination.totalItems}}</div>
        <table class="table table-bordered table-striped table-hover outer-border">
            <thead>
                <tr>
                    <th>Name
                        <i class="pull-right clickable fa fa-caret-up" ng-show="!ctrl.isDesc" ng-click="ctrl.order()"></i>
                        <i class="pull-right clickable fa fa-caret-down" ng-show="ctrl.isDesc" ng-click="ctrl.order()"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pet in ctrl.ownerPets">
                    <td>
                        <span>{{pet.name}}</span>
                        <button type="button" class="btn pull-right outer-border" ng-click="ctrl.deleteOwnerPet($index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <ul uib-pagination direction-links="false" total-items="ctrl.pagination.totalItems" items-per-page="ctrl.pagination.itemsPerPage" ng-model="ctrl.pagination.currentPage" ng-change="ctrl.pagination.change()"></ul>

    </div>
</div>